body {
    font-family: "Rajdhani", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    background-color: rgb(0, 0, 19);
    margin: 0;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

.hdr-img {
    height: 100pxpx;
    width: 100px;
}

.hdr-img img {
    height: 100px;
    width: 100px;
}

.menu-btn {
    cursor: pointer;
    position: absolute;
    display: flex;
    top: 1rem;
    align-items: center;
    justify-content: center;
}

.nav-bar,
.menu-btn {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5rem;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

.nav-bar li > a:hover {
    border-bottom: 5px solid blue;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-btn button {
    height: 2rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Rajdhani", sans-serif;
}

.log-in-btn {
    background-color: transparent;
}

.log-in-btn:hover {
    background-color: white;
    color: blue;
    border-radius: 5px;
    transition: .2s;
}

.sign-in-btn {
    background-color: blue;
    border-radius: 5px;
}

.sign-in-btn:hover {
    background-color: rgb(2, 2, 185);
}

#home {
    margin-top: 108px;
    background-image: url(./images/header-background.png.jpg);
}

.hero-sctn {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
    display: flex;
    gap: 1rem;
    text-align: justify;
}

.about {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 6rem;
    font-weight: 600;
    text-align: center;
}

.about p {
    height: 100%;
    padding: 1rem;
    border: 1px solid blue;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.hero-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h2, .hero-img h3 {
    margin: 0;
}

.hero-img img {
    width: 50%;
}

.planets-info {
    display: flex;
    gap: 1rem;
}

.planet-info {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 5px;
    cursor: pointer;
}

#explore-sctn {
    margin: 0 20px 1rem 20px;
    background-color: rgb(0, 0, 19);
}

#explore-sctn > p {
    padding: 2rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

.explore-yt-tiy-slide {
    display: flex;
    margin-bottom: 2rem;
}

.yt {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-yt-tiy-slide > div > p {
    font-size: large;
    font-weight: bold;
}

.diy {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.diy a {
    width: 100%;
    height: 150px;
    background-image: url(./images/explore-dyt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-slide {
    flex: 1;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin: auto;
}

.slider .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider .slide {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    padding: 16px;
    cursor: pointer;
    user-select: none;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.explore-q {
    overflow-x: auto;
    scroll-behavior: smooth;
}

.explore-q::-webkit-scrollbar {
    display: none;
}

.explore-container {
    padding: .5rem;
    width: fit-content;
    display: flex;
    gap: 1rem;
}

.explore-container > a {
    text-decoration: none;
    color: white;
}

.explore {
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    transition: .3s;
}

.explr-img-cntnr {
    height: 200px;
    width: 300px;
}

.explore img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.exploer-info {
    padding: 0 1rem;
    height: 78px;
    border-right: 1px solid blue;
    border-left: 1px solid blue;
    border-bottom: 1px solid blue;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

#nasa {
    display: flex;
    margin: 3rem 20px;
}

.nasa-img {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.nexscl {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nexscl a {
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem;
    color: white;
}

.nexscl img,
.nasa-logo img {
  height: 35vh;
  width: 70%;
}

.nasa-logo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nasa-logo a {
    font-size: 1.2rem;
    font-weight: 500;
    padding: .5rem;
    color: white;
}

.key-goal {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.key-goal h2 {
    font-size: 2rem;
}

.key-goal p {
    margin: .5rem 0;
    height: auto;
    width: 90%;
    font-size: 1.5rem;
    border: 1px solid blue;
    border-radius: 5px;
    padding: .3rem;
}

.key-goal a {
    font-size: 1.2rem;
    color: white;
}

#quiz {
    height: 6rem;
    margin: 3rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted blue;
    border-radius: 10px;
    background-image: url(./images/header-background.png.jpg);
    background-position: center;
}

#quiz a {
    text-decoration: none;
    color: white;
}

#form {
    margin: 0 20px 0 20px;
    background-color: rgb(0, 0, 19);
    display: flex;
    gap: 1rem;
}

.q-and-a,
.join {
    flex: 1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
}

.q-and-a > p, 
.join > p {
    font-size: 2rem;
    font-weight: bold;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.describe-q,
.join-form {
    width: 100%;
    margin: 10px 0;
}

.q-and-a label,
.join label {
    display: block;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#q-topic,
.join input,
#mail {
    height: 2rem;
    width: 100%;
    margin-right: 1rem;
    font-size: 1rem;
    font-family: "Rajdhani", sans-serif;   
    border-radius: 5px;
}

.join input:focus,
#mail {
    outline: none;
    background-color: transparent;
    border-color: blue;
}

.join input:-internal-autofill-selected {
    background-color: transparent;
}

#mail {
    color: white;
}

#q-topic > option {
    background-color: white;
    color: blue;
}

#q-topic:focus,
#qustion:focus {
    outline: none;
}

#q-topic,
#qustion,
.join input {
    background-color: transparent;
    color: white;
    border:1px solid blue;
}

#qustion {
    resize: none;
    height: 150px;
    width: 100%;
    margin-right: 1rem;
    border-radius: 5px;
}

.submit-btn,
.join-btn {
    width: 160px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    background-color: blue;
    cursor: pointer;
    padding: 1rem;
}

.submit-btn:hover,
.join-btn:hover {
    background-color: rgb(2, 2, 185);
}

.curious > p {
    text-align: justify;
}

.ar {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background-image: url(./images/header-background.png.jpg);
    background-position: center;
    overflow: hidden;
}
.ar iframe {
    width: 80%;
    height: 200%;
    flex: 1;
}

footer {
    background-color: rgb(0, 0, 19);
    margin: 20px;
    padding-left: 100px;
    padding-bottom: 1rem;
    display: flex;
    gap: 1rem;
}

.footer {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer > a {
    text-decoration: none;
    color: white;
}

.footer-img {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(width > 1014px) {
    .menu-btn {
        display: none;
    }
}


@media(max-width: 1014px) {
    .nav-bar {
        display: none;
    }

    .show {
        display: block;
    }

    .nav-bar ul {
        gap: 0;
        padding: .8rem;
    }

    .show-nav-ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 30px;
        right: 30px;
        top: 108px;
        z-index: 1;
        background-color: rgb(0, 0, 19);
        text-align: center;
        border: 1px solid blue;
        border-radius: 10px;
    }

    .nav-bar li > a:hover {
        border-bottom: none;
    }

    .hero-sctn {
        flex-direction: column;
    }

    .explore-yt-tiy-slide {
        flex-direction: column;
        padding: 0 5rem;
    }

    .slider-container {
        height: 300px;
    }

    .explore-slide {
        width: 100%;
    }

    #form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .describe-q,
    .join-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .join input {
        margin: 0;
        width: 100%;
    }

    .ar iframe {
        width: 75%;
    }
}

@media(max-width: 890px) {
    #nasa {
        flex-direction: column;
    }

    .key-goal p {
        width: 100%;
    }
}

@media(max-width: 550px) {
    .nav-btn {
        margin-top: 1rem;
        flex-direction: column;
    }

    .explore-yt-tiy-slide {
        flex-direction: column;
        width: 100%;
        padding: 0 .8rem;
    }

    .explore-slide {
        width: 100%;
    }

    .ar {
        display: none;
    }

    .join input {
        width: 100%;
    }

    footer {
        padding-left: 0;
    }
}